@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
padding: 0;
margin: 0;
overflow-x: hidden;}

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*---------------*/
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FFFFFF; 
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  position: relative;
  text-transform: uppercase;
  background:linear-gradient(135deg, rgba(0,0,0,.35), rgba(0,0,0,.35)),
              url(../img/farouk-mechedal-OW60bZ3SJOc-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  padding-top: 25px;
  height: 100vh; }
  .header__wrapper{
    margin: 0 auto;
    max-width: 1280px;
      display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  }
/*.nav{
color:white;
margin: 50px auto;
position: relative;
}
  .nav__buttons{
    margin: 0 auto;
    display: inline-grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }
.nav__button{
  color:inherit;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  font-size: calc(14px + 4 * ( (100vw-320) / (1280-320) ) );
  text-transform: uppercase;
}

.nav__logo{
  border:1px solid white;
  padding: 8px 16px;
}
.nav__icon{
  display: block;
  position: absolute;
  top:50px;
  right: 0;
  cursor:pointer;
}
.logo__solo{
  margin: 0 auto;
}
.sLogo__nav__icon{
  display:none;
}
@media (max-width:767px){
  .header {padding: 0;}
  .nav__icon{
    z-index: 5;
    display: block;
    position: relative;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color:#000;
  }
  .nav{
    position: absolute;
    right: 0;
    width: 100%;
    padding: 10px;
  }
.buttons__bIcon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
    .nav__buttons{
    display: flex;
    flex-direction: column;
    display: none;       
    color:#000;
  }
        .nav__buttons :nth-child(1) { order: 2; }
        .nav__buttons :nth-child(2) { order: 3; }
        .nav__buttons :nth-child(3) { order: 4; }
        .nav__buttons :nth-child(4) { order: 1; }
        .nav__buttons :nth-child(5) { order: 5; }
        .nav__buttons :nth-child(6) { order: 6; }
        .nav__buttons :nth-child(7) { order: 7; }

        .nav__buttons  li{
          padding: 10px;
          margin: 5px;
        }
.sLogo__nav__icon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}


}*/




.menu__icon{
  display: none;
}

.menu__list{
  /*position: absolute;*/
  width: 100%;
  /*height: 100%  ;*/
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  z-index: 4;

  padding: 10px;
}


.header__logo{
  display: none;
}


.menu__body{
  width: 100%;
  /*margin-top: 0px !important;*/
  /*background-color: #fff;*/
  padding: 10px;
  /*height: 100vh;*/
  transition: left 0.3s ease 0s;
}

.menu__list li{
  margin-top: 5px;
  /*padding-bottom: 5px;*/
  padding: 10px;
}
.menu__item, .menu__item:visited , .menu__item:active{
color:#fff;
}

.menu__item{
  font-size: 14px;
  padding: 5px 15px;
}







@media (max-width:767px){
  .menu{
    display: flex;
    flex-direction: row;
    z-index: 4;
    width: 100%; 
    position: relative;
    top:0;
    left:0; 
  }
  /*.header{padding: 0;}*/
.menu__icon{
  display:block;
  z-index: 15;
  position: absolute;
  top:27px;
  right:20px;
  cursor: pointer;
  padding: 10px;
  /*color:white;*/
}
/*#openClose{
  color: white;
}*/

#openClose, #openClose:visited , #openClose:active{
color:#fff;
}

.header__logo{
  /*padding: 5px 15px;*/
  /*margin-top: -15px;*/
  display: block;
  position: absolute;
  left:50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
  /*padding-top: 0px !important;*/
  padding: 8px 15px;
  margin-top: 28px;
  color:#fff;
  border:1px solid #fff;
  /*margin-right: -20px;*/
  /*background-color: #fff;*/
  /*padding: 10px;*/
}
.menu__logo{
  padding: 5px 15px;
  color:#000;
  border-color:#fff;
}
.menu__body{
  position: absolute;
  top:-25px;
  left:100%;
  width: 100%;
  margin-top: 0px !important;
  background-color: #fff;
  padding: 10px;
  height: 500px;
  /*height: max-content;*/
  transition: left 0.3s ease 0s;
}

.menu__list{
  position: absolute;
    top:42px;
  left:0;
  width: 100%;
  /*height: 100%  ;*/
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  z-index: 4;
}

.menu__list li{
  margin-top: 10px;
  /*padding-bottom: 5px;*/
  padding: 15px;
}
.menu__item, .menu__item:visited , .menu__item:active{
color:#000;
}
.menu__list li:nth-child(4){
  margin: 0;
}
.menu__list li:nth-child(1){
  margin-top: 10px;
}


        .menu__list :nth-child(1) { order: 2; }
        .menu__list :nth-child(2) { order: 3; }
        .menu__list :nth-child(3) { order: 4; }
        .menu__list :nth-child(4) { order: 1; }
        .menu__list :nth-child(5) { order: 5; }
        .menu__list :nth-child(6) { order: 6; }
        .menu__list :nth-child(7) { order: 7; }


}






.phrase{
  margin: 0 auto;
  color:white;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-grid; 
  grid-template-columns:1fr;
  grid-template-rows:1fr 1fr; 
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  position: absolute;
  top:50%;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.phrase__iceland{
  padding: 8px;
font-size: 80px;
font-size: calc(26px + 34 * ( (100vw -320px) / (1280-320) ) );
letter-spacing:14px;
}
.phrase__tour{
  margin-top: 5px;
  padding: 0px 8px;
  /*font-size: 24px;*/
  font-size: calc(20px + 4 * ( (100vw -320px) / (1280-320) ) );
  letter-spacing:5px;
}


.inf{
          margin: 0 auto;
      min-width:300px;
      max-width: 1280px;
      position: absolute;
      bottom:-2%;
      left:50%;
      margin-right: -50%;
      transform: translate(-50%, 5%);
      background-color: white;
      /*padding: 10px;*/
      padding: 10px 0px;
      box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1); 
}
span.date > i.uil{
  font-size: 16px;
  padding: 5px;
}
span.date:nth-child(3),span.date:nth-child(4){
  display: none;
  }
  @media (min-width:1249px){
      .inf{
        margin: 0 auto;
      display:grid;
      grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
      justify-content: center;
      align-content: end;
      align-items: end;
      align-content: center;
      min-width:110px;
      max-width: 1280px;
      position: absolute;
      bottom:-4%;
      left:50%;
      margin-right: -50%;
      transform: translate(-50%, 5%);
      background-color: white;
      padding: 10px;
      margin-right: 20px;
      margin-left: 20px;
      box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1); 
} 
span.date:nth-child(3),span.date:nth-child(4){
  display: block;
  }
  i.uil{
  font-size: 24px;
  padding: 5px;
  margin-right: 6px;
}
}

span .date{
  padding: 10px;
  margin: 10px;
}


/*.inf__block{*/
  /*display: inline-grid;*/
  /*text-transform: uppercase;*/
  /*font-size: 18px;*/
/*  font-size: calc(12px + 4 * ( (100vw -320px) / (1280-320) ) );
  padding: 8px 16px;
  color:black;*/
  /*justify-items:center;*/
/*}*/
.inf__range{
  padding:8px 32px 8px 32px;
  border-left :1px solid rgba(0,0,0,.5);
}
/*.inf__block>span{
  display: flex;
  align-items: center;
  text-align:center;
}*/
.inf>span{
  /*display: flex;*/
  align-items: center;
  text-align:center;
    text-transform: uppercase;
  /*font-size: 18px;*/
  font-size: calc(12px + 4 * ( (100vw -320px) / (1280-320) ) );
  padding: 8px 16px;
  color:black;
}



.wIceland{
  width: 100%;
/*padding: 10px;*/
margin: 150px auto;
}

.wIceland__wrapper{

}
.logo__blockName{
  display: flex;
  flex-direction: column;
}
.wIceland__text_img{
    min-width: 320px;
    max-width: 1280px;
    min-height: 320px;
    margin: 0 auto;
    overflow: hidden;
      display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* либо minmax(300px, 1fr); тоже не работает. */
    /*grid-gap: 5px;*/
 }
 
.wIceland__texts{
padding: 50px;
font-size: 16px;
}

.wIceland__text{
  margin-top: 25px;
  letter-spacing: 1px;
}


.wIceland__img__block{
height: 350px;
/*padding: 10px;*/
}
.wIceland__img{
  object-fit: cover;
  /*padding: 10px;*/
}


.logo {
    text-transform: uppercase;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 5px 20px;
    font-size: 18px; }
    .logo__black{
       border: 1px solid #000;
    }
.blockName {
    text-transform: uppercase;
    margin: 40px auto;
    font-size: 30px;
    /*padding: 20px;*/
    letter-spacing: 2px; }

.wwe {
  width: 100%;
  background-image: linear-gradient(135deg, rgba(0,0,0,.35), rgba(0,0,0,.35)),
                    url("../img/kalea-morgan-RZ7YXW8-fdw-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  color: #FFFFFF;
  margin-top: 100px;
  padding: 100px 50px;;
}
.wwe__wrapper{
    margin: 0 auto;
    width: 100%;
    display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
}
  .logo__white {
    border:1px solid white;
    border-color: #FFFFFF; }
/*  .wwe__answers{
    margin-top: 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: start;
    align-content: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; 
    text-align:left;
  }*/
  .wwe__answers{
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    text-align:left;
    justify-items:center;
    align-items:start;
    justify-content:center;
  }
    .answer {
      width: 100%;
        margin: 0 auto;
      
      line-height: 20px; 
      justify-items:center;
      padding: 30px 30px;
    }
      .answer__heading {
        font-size: 26px;
        line-height: 30px; 
        margin-top: 25px;
        padding: 0px 10px;
        letter-spacing: 1px;
      }
      .answer__text {
        margin-top: 25px;
        font-size: 16px;
        line-height: 25px; 
        padding: 0px 10px;
        letter-spacing: 1px;
      }

.tripWay {
  /*width: 100%;*/
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
/*  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
  padding: 70px 10px;*/ 
/*  flex-wrap: wrap;*/
margin-top: 50px; 
padding-top: 50px;
}
/*  .tripWay .tripWay__slider {
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }*/
    .tripWay__slider{
     max-width: 1280px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align:left;
    justify-items:center;
    align-items:center;
    justify-content:center;
    align-content: center;
    }
    .tripWay__btn {
      font-size: 32px;
      background: none;
      padding: 70px 70px;
      cursor: pointer; }
    .tripWay__img, .slider__text {
      width: 100%; 
    }

    .tripWay__img__block{
      height: 100%;
      padding: 25px; 
    }

    .tripWay__img {
      object-fit: cover;
            height: 100%;
      padding: 25px; 
    }

    .slider__text {
      padding: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; 
      letter-spacing: 1px;
    }
      
      .tripWay__textHeading {
        font-size: 24px;
        padding: 5px; 
      }

      .tripWay__text {
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 22px; 
      }
      .count__buttons{

        display: grid;
        grid-template-columns: repeat(3,1fr);
            justify-items:center;
    align-items: center;
    justify-content: center;
    align-content: center;

    }
      .slider__count {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        width: 25%;
        padding: 20px 0px;
        font-size: 14px;
        margin-top: 40px; 
      }
        
        .currentSlide {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          text-align: left; 
        }

        .slideCount {
          position: absolute;
          bottom: 0;
          right: 0px;
          width: 100%;
          text-align: right; 
        }

        .line {
          width: 100%;
          border: 1px solid black; 
        }


.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  .booking .booking__header {
    margin-top: 100px;
    color: #FFFFFF;
    padding: 100px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-image: url("../img/bg11.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-filter: brightness(90%);
    filter: brightness(90%); }
    .booking .booking__header .logo {
      border-color: #FFFFFF; }
    .booking .booking__header .booking__mainInfo {
      font-size: 24px;
      margin-top: -20px; }
    .booking .booking__header .booking__button {
      text-transform: uppercase;
      font-size: 16px;
      padding: 16px 32px;
      background-color: #1148C0;
      color: #FFFFFF;
      margin-top: 30px; }
  .booking__items {
    min-width: 320px;
max-width: 1280px;
    margin: 20px auto;
    display: grid;
    /*grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));*/
    text-align:left;
    justify-items:center;
    align-items:start;
    justify-content:space-around;


/*    margin-top: 60px;
    padding: 20px 50px; */

  }


.tour__list{
  padding: 10px;
display: none;
grid-auto-rows: auto;
flex-direction: column;
justify-content: flex-start;
align-items: center;
width: 100%;

}

  .booking__item {
    margin: 0px auto;
    width: 1280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }




.item__title__btn{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

    .item__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 22px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #000; 
    
    }


      .item__icon {
        position: relative;
        width: 14px; 
      }

      .item__icon::before, .item__icon::after {
        content: "";
        position: absolute;
        width: 14px;
        height: 3px;
        background-color: #ababab;
        top: -1.5px; 
      }

      .item__icon::after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        transition: .5s all; 
      }

  .item__title__btn_1:target #item__icon::after {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); 
  }

    .item__text {
    height: auto;
    line-height: 24px;
    /*letter-spacing: 1px;*/
    font-size: 16px;
    width: 100%;
    padding: 10px 0px;

  }

.living {
width: 100%;
background-color: #f0f0f0;
  margin-top: 50px;
  padding: 50px 10px;
}
  .living__block {
          min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
      display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items:center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .living .living__img {
    width: 100%;
    padding: 25px;
    height: 400px; }
  .living .living__texts {
    width: 100%;
    padding: 25px; 
    letter-spacing: 1px;}
    .living .living__texts .living__text {
      padding: 5px;
      margin-top: 5px;
      font-size: 16px;
      line-height: 20px; 
    }




.aboutUs{

  margin: 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__info{
  min-width: 320px;
  max-width: 1280px;
  top:0;
  left:0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-content: center;
  justify-content: space-between;
  align-items: center;
  justify-items:center;
    grid-auto-flow: dense;
}
.about__info__item{
  padding: 0px 0px 85% 0px;
  position: relative;
  margin: 20px;
  text-transform: uppercase;
  font-size: 18px;
  display: grid;
  justify-items:center;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 20px;
  line-height: 24px;
  letter-spacing: 1px;
}
.item__org img{
  /*padding: 0 0 85% 0;*/
width: 250px;
height: 150px;
  object-fit: cover;
}
.block_1x2{
/*grid-column:span 2;
grid-row:span 1;*/
font-size: 14px;
}
.block_1x3{
 
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));*/
    grid-template-rows: 1fr 1fr;
    

}
@media (min-width: 950px) {
  .block_1x2 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .block_1x3{
    grid-template-columns: 1fr 1fr;
        grid-column: span 3;
    grid-row: span 1;
  }
}


.human__count{
  font-size: 180px;
  /*font-size: calc(63px + 127 * ( (100vw-320px) / (1280-320)));*/
  letter-spacing: 10px;
  /*padding: 10px;*/
}
@media(max-width: 950px){
    .human__count{
    font-size: 60px;
  }
}
.item__org{
display: grid;
}
.org__links, .prof{
color:#b0b0b0 !important;
font-size: 14px;
}
.org__links>a{
  text-decoration: underline;
  color:#b0b0b0 !important;
}

.box__text{
  display: grid;
  grid-template: 1fr 1fr/ 1fr;
}

.boxLine{
  width: 40px;
  height: 40px;
  border-top:2px solid red;
}

.lastRide{
  margin: 0px auto;
  margin-top: 50px;
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 50px;
}
.lastRide__blockName{
text-align: center;
}
.lastRide__gallery{
  padding: 10px;
  min-width: 320px;
  max-width: 1280px;
  margin: 20px auto;
  display: grid;
  grid-template: 1fr 1fr 1fr/ repeat(auto-fit, minmax(250px, 1fr));
/*  justify-items:center;
  align-items: center;*/
  justify-content: center;
  align-content: center;
  gap:20px;
  grid-auto-flow: dense;
}
.gallery__item{
  padding: 0px 0px 85% 0px;
  position: relative;

}
.gallery__item img{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  object-fit: cover;
}

/*.tall{
    grid-column: span 1;
    grid-row: span 2;
}
.wide{
    grid-column: span 2;
    grid-row: span 1;
}*/
@media (min-width: 1060px) {
.tall{
    grid-column: span 1;
    grid-row: span 2;
}
.wide{
    grid-column: span 2;
    grid-row: span 1;
}
.widetall{
      grid-column: span 2;
    grid-row: span 2;
}
}





.bron{
  margin: 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(135deg, rgba(0,0,0,.35), rgba(0,0,0,.35)),
                url(../img/bgform.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  /*padding-top: 100px;*/
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.bron .logo__blockName{
   color:#fff;
}
.instructions{
   color:#fff;
  padding: 10px;
  min-width: 320px;
  max-width: 1280px;
  margin: 20px auto;
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(250px, 1fr));
  justify-items:center;
  align-items: center;
  justify-content: start;
  align-content: center;
  grid-auto-flow: dense;
}


.inst__item{
      /*width: 100%;*/
        margin: 0 auto;
      
      line-height: 20px; 
      justify-items:center;
      padding: 30px 30px;
}

      .inst__title {
        font-size: 26px;
        line-height: 30px; 
        margin-top: 25px;
        /*padding: 0px 10px;*/
        letter-spacing: 1px;
      }
      .inst__text {
        margin-top: 25px;
        font-size: 16px;
        line-height: 25px; 
        /*padding: 0px 10px;*/
        letter-spacing: 1px;
      }


.bron__form{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  text-align:center;
  padding: 10px;
  color:#fff;
}
.form__heading{
  font-size: 24px;
        line-height: 30px; 
        margin-top: 25px;
        /*padding: 0px 10px;*/
        letter-spacing: 1px;
}
.form{
  /*padding: 10px;*/
  margin: 50px auto;
  text-transform: uppercase;
  font-size: 18px;
        line-height: 25px; 
        letter-spacing: 1px;

}
.form__datas{
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px;
  width: 100%;
  letter-spacing: 1px;
  margin-top: 25px;
}
.form__submit{
      text-transform: uppercase;
      font-size: 16px;
      padding: 16px 32px;
      background-color: #1148C0;
      color: #FFFFFF;
      margin-top: 30px;
      letter-spacing: 1px;
}
.acceptRules{
  color:#fff;
  font-size: 16px;
}

.contacts{
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  text-align:center;
  padding-bottom: 50px;
}
.contact{
  font-style: 18px;
  margin-top: 20px;
  letter-spacing: 1px;
  line-height: 24px;
}